<!-- <app-events></app-events> -->
<!-- <app-prop-binding></app-prop-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-ng-class></app-ng-class> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-template-reference></app-template-reference> -->
 <!-- <app-counter></app-counter> -->
  <!-- <app-two-way-binding></app-two-way-binding> -->
  <!-- <app-ng-if></app-ng-if> -->
  <!-- <app-ng-if-else></app-ng-if-else> -->
  <!-- <app-ng-switch></app-ng-switch> -->
   <app-ng-for></app-ng-for>